<form action="" class="ls-form ls-form-inline row">
  <%= form_for @user, :url => {:action => :edit} do |f| %>
    <fieldset>
      <label class="ls-label col-md-12">
        <b class="ls-label-text"><%= f.label :name, 'Nome' %></b>
        <%= f.text_field :name %>
      </label>
      <label class="ls-label col-md-6">
        <b class="ls-label-text"><%= f.label :email, 'E-mail' %></b>
        <%= f.text_field :email %>
      </label>
      <label class="ls-label col-md-6">
        <b class="ls-label-text"><%= f.label :cpf, 'CPF' %></b>
        <%= f.text_field :cpf %>
      </label>
      <label class="ls-label col-md-12">
        <b class="ls-label-text"><%= f.label :address_id, 'Endereço' %></b>
        <div class="ls-custom-select">
          <%= f.collection_select(:address_id, @addresses,:id, :full_address, include_blank: true) %>
        </div>
      </label>
    </fieldset>
    
    <div class="ls-actions-btn">
      <%= f.submit 'Editar', class: "ls-btn-primary ls-ico-checkmark" %>
      <%= link_to 'Cancelar', user_path(@user), class: "ls-btn-primary-danger" %>
    </div>
  <% end %>
</form>