<h1>Bem-vindo ao sistema de trocas de moedas</h1>

  <%= form_tag "/", method: "get" do %>
    <%= label_tag(:currency, 'Filtro por moeda') %>
    <%= select_tag :currency, options_for_select([['Dólar', 'dollar'], ['Real', 'real']]) %>
    <%= submit_tag "Filtrar" %>
  <% end %>
<% if @transactions.empty? %>
  <div class="alert">
    <p>Você ainda não possui transações cadastradas.</p>
  </div>

<% else %>
  <div class="transaction">
    <h3>Identificador</h3>
    <h3>Quantidade</h3>
    <h3>Moeda</h3>
    <h3>Tipo</h3>
    <h3>Total</h3>
  </div>

  <% @transactions.each do |transaction| %>
    <div class="transaction">
      <p><%= link_to "#{transaction.id}", transaction_path(transaction) %></p>
      <p><%= transaction.amount %></p>
      <p><%= transaction.translate(transaction.currency) %></p>
      <p><%= transaction.translate(transaction.transaction_type) %></p>
      <p><%="$ #{transaction.total(transaction)}"%></p>
    </div>
  <% end %>
<% end %>

  <div class="button_group">
    <%= link_to 'Ver todas', transactions_path(), class: "button" %>
    <%= link_to 'Usuários', users_path(), class: "button" %>

    <%= link_to 'Registrar transação', new_transaction_path(), class: "button" %>
    <%= link_to 'Cadastrar usuário', new_user_path(), class: "button" %>
  </div>
